aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
pendulum==2.1.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytzdata==2020.1
requests==2.31.0
urllib3==2.0.3
yarl==1.9.2
