theme "catppuccin-macchiato"
keybinds {
	shared_except "locked" {
    	bind "Ctrl y" {
        	LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
            	floating true
            	ignore_case true
        	}
		}
	}
}